!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Discount on your product!
    %p
      #{ link_to "Click Here to Check!", @product.url }
      %br/
      %br/
